.drop-down {
    font-weight: 600;
    font-size: inherit;
    position: relative;
    min-height: 2.5em;
    /*height: 100%;*/
    width: 100%;
}

.drop-down button {background-color: transparent !important;}

.drop-down div, .drop-down ul, .drop-down li, .drop-down span, .drop-down button {font-size: inherit;}

.drop-down-header {
    background-color: #ffffff;
    border: 1px solid #666666;
    display: flex;
    align-items: stretch;
    border-radius: 0px;
}

.drop-down-header input {
    border: 0px solid;
    padding-right: 0em;
    margin-left: 0px;
    background-color: transparent;
}

.drop-down-header:hover {cursor: pointer;}
.drop-down-header:focus, .drop-down-header:hover {border: 1px solid #0099cc;}
.drop-down-header:focus button .svg, .drop-down-header:hover > button .svg {fill: #0099cc !important;}

.drop-down-header > div {text-transform: uppercase;}

.drop-down-header > :first-child {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    max-width: 100%;
    align-self: center;
    /*margin-left: 0.6em;*/
    align-items: center;
}

.drop-down-header > :last-child:not(:only-child) {
    flex: 0 0 2.5em;
}

.drop-down-header > span:first-child {
    padding: 0px 0px 3px 0.75em;
    text-transform: uppercase;
}

.drop-down-header > ul > li {
    display: flex;
    align-items: center;
}

ul.multi-level-list {margin: 0.15em !important;}
.drop-down-header > ul.multi-level-list > li {
    border: 1px solid #dddddd;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 0.15em 0.25em 0.15em 0.35em;
    margin: 0.15em;
    cursor: default;
}

.drop-down-header > ul.multi-level-list > li button .svg {fill: #999999;}
.drop-down-header > ul.multi-level-list > li button:hover .svg,
.drop-down-header > ul.multi-level-list > li button:focus .svg {fill: #0099cc;}

.simple-list {
    margin-left: 0.7em !important;
    color: #666666;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    text-align: left;}

.drop-down-header > ul > li.inverted {
    background-color: #666666;
    border-color: #666666;
    color: #ffffff;
}

.drop-down-header > ul > li > span {
    line-height: 1;
    white-space: pre-wrap;
    padding: 0 0 2px 0;
    font-weight: 500;
    color: inherit;
}

ul.multi-level-list > li > span {
    text-transform: uppercase;
    font-size: 0.85em;
}

.drop-down-header > ul > li > span:not(:only-child) {
    margin-right: 0.25em;
}

.unselectButton {
    height: 1em;
    width: 1em;
    padding: 0.15em;
    border: 0px solid !important;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    }

/* list of Chapters */
.drop-down-list-wrapper {
    position: absolute; 
    display: block; 
    box-sizing: content-box;
    left: 0px; 
    right: 0px; 
    background: #ffffff; 
    z-index: 999; 
    border: 1px solid #0099cc;
}

ul.drop-down-list {padding: 0em 0.5em 0em 0.5em;}
ul.drop-down-list li {/*margin-right: 0.9em; margin-left: 0.9em;*/ text-transform: uppercase;}
/*ul.drop-down-list li ul.drop-down-list > li {margin-right: 0em; margin-left: 0em;} */
ul.drop-down-list li > div,
ul.drop-down-list li ul.drop-down-list > li {
    display: flex; 
    justify-content: left;
    align-items: center;
    min-height: 2.75em;
}

ul.drop-down-list li > div {
    display: flex;
    text-overflow: ellipsis;
}

ul.drop-down-list li > div, ul.drop-down-list li > div > button {flex: 1 1 auto;}
ul.drop-down-list li > div > button > span {flex: 1 1 auto;}

ul.drop-down-list li span {
    font-size: inherit;
    display: block;
    color: #666666;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.drop-down-list li label{
    position: relative;
    margin-right: 0.5em;
    margin-left: 0.25em;
}
ul.drop-down-list li label:hover {cursor: pointer;}
ul.drop-down-list li label:hover svg,
ul.drop-down-list li label:focus-within svg {
    border-color: #0099cc !important;
}

ul.drop-down-list li > div:focus span {color: #0099cc !important;}
ul.drop-down-list li > div:focus label > svg, ul.drop-down-list li > div:hover label > svg {border-color: #0099cc !important;}
ul.drop-down-list li > div:focus > button > svg > .svg {fill: #0099cc !important;}

ul.drop-down-list li label:focus-within::after{
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    display: block;
    border: 3px solid #0099cc;
    opacity: 0.5;
}

ul.drop-down-list li label:hover::after{
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    display: block;
    border: 3px solid #0099cc;
    opacity: 0.5;
}

ul.drop-down-list li > div:hover label::after,
ul.drop-down-list li > div:focus label::after{
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    display: block;
    border: 3px solid #0099cc;
    opacity: 0.5;
}

/* workaround for EDGE */

ul.drop-down-list li label:hover > svg,
ul.drop-down-list input:focus + svg {
    border: 1px solid #0099cc;
}
/* woraround for EDGE ends */

ul.drop-down-list li.openChapter span {color: #666666;}
ul.drop-down-list li.openChapter svg {border-color: #999999;}
ul.drop-down-list li.openChapter input[type=checkbox]:checked + svg > .svg {fill: #666666 !important;}
li.openChapter {padding-top: 0px !important; padding-bottom: 0px !important;} 
ul.drop-down-list ul.drop-down-list > li span {color: #666666; line-height: 1; overflow: hidden; text-overflow: ellipsis;}
ul.drop-down-list li:not(:last-child) {border-bottom: 1px solid #cccccc;}
ul.drop-down-list li{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

ul.drop-down-list li:hover > div, ul.drop-down-list li:hover > div > span,
ul.drop-down-list li:focus > div, ul.drop-down-list li:focus > div > span {cursor: pointer; color: #0099cc;}
ul.drop-down-list li:focus > div {color: #0099cc;}
ul.drop-down-list li > div > :last-child {flex: 1 1 auto; align-self: stretch; display: flex; align-items: center; text-overflow: ellipsis;}
ul.drop-down-list li > div > :last-child > button:last-child {flex: 0 0 0.8em;}
ul.drop-down-list li > div > button:last-child > svg {flex: 0 0 0.8em; height: 0.8em; margin-left: 0.25em; margin-right: 0.25em;}
ul.drop-down-list li ul.drop-down-list {border-top: 1px solid #ededed; padding-left: 1.25em;}
ul.drop-down-list > li ul.drop-down-list > li {
    display: block;
}
ul.drop-down-list > li ul.drop-down-list > li:not(:last-child) {border-bottom: 1px solid #ededed;}
ul.drop-down-list button:focus {border-color:transparent;}
ul.drop-down-list button:focus .svg, ul.drop-down-list button:hover .svg {fill: #0099cc;}

ul.drop-down-list button .svg {fill: #cccccc;}
ul.drop-down-list button:hover > span, ul.drop-down-list button:focus > span {color: #0099cc !important;}

.drop-down-icon {flex: 0 0 auto !important; margin: 0 0.5em 0 0 !important;}
.drop-down-icon svg {height: 1.2em !important;}
.drop-down-icon .svg {fill: #666666 !important;}
div:hover > button .drop-down-icon .svg, div:focus > button .drop-down-icon .svg {fill: #0099cc !important;}

.colorIndicator {
    flex: 0 0 1em !important;
    height: 1em;
}

.colorIndicator:only-child {
    flex: 1 0 1em !important;
    max-width: 3em;
    margin: 0px !important;
}
