@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Confirmation";
}
    <p class="text-info">
        
    </p>
    <form action="/Account/Confirmation" method="post">
        <div>
            <p class='mb-1'>
                <strong>
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </strong>
            </p>
            <input value="@ViewBag.Email" class='mb-1' name="Email"/>
            <input value="@ViewBag.ReturnUrl" name="ReturnUrl" type="hidden" />
        </div>
        <div class='flex-wrap justify-center mt-2'>
            <button type="submit" class='medium-static-button static-button'>Register</button>
        </div>
    </form>




