@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Sign In";
}
<form method="post" action="/Account/ExternalLogin">
    <input type="hidden" value="/" name="redirectUrl" />
    <div class='login-with-button-wrapper justify-center mt-2'>
        <button class='login-with-button facebook' type="submit" name="provider" value="Facebook">
            <img src="/images/facebook.svg" />
            <p>Login with Facebook</p>
        </button>
        <button class='login-with-button google' type="submit" name="provider" value="Google">
            <img src="/images/google.svg" />
            <p>Login with Google</p>
        </button>
    </div>
</form>
<div class='flex-nowrap align-center mt-2 mb-2'>
    <span class='line'></span>
    <p class='pr-05 pl-05'><strong>OR</strong></p>
    <span class='line'></span>
</div>
<form>
    <div>
        <p class='mb-1'><strong>Sign In using your existing account:</strong></p>
        <input class='mb-1' type='text' placeholder='Email'></input>
        <input class='mb-1' type='text' placeholder='Password'></input>
    </div>
    <div class='flex-wrap justify-space-between align-center'>
        <span class='flex-nowrap justify-left align-center mb-05'>
            <label>
                <input type="checkbox" />
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 12">
                    <polygon class='svg' points="5.3,11 4.2,11 0,5.3 1.1,4.4 4.7,9.4 10.9,1 12,1.8 " />
                </svg>
            </label>
            <p class='pl-05'><strong>Remeber me</strong></p>
        </span>
        <a class='mb-05' href=""><strong>Forgot Password?</strong></p>
    </div>
    <div class='flex-wrap justify-center mt-2'>
        <button onclick="location.href = '/Account/Register'; return false;" class='medium-static-button static-button'>Register</button>
        <button class='medium-static-button static-button default-button'>Sign In</button>
    </div>
</form>

