.image-gallery {
  width: 100%;
}

.image-gallery li {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
}

.image-gallery li > div {
  display: block;
  overflow: hidden;
}

.image-gallery li > div > img {
  width: 100%;
  display: block;
}
