.search-wrapper{
    position: relative;
    width: 100%;
}

.search-input, .fake-input, .fake-input:disabled {
    padding-left: 0px !important;
    line-height: 1;
    background-color: transparent !important;
}

.fake-input {
    position: absolute;
    width: auto;
    display: block;
    top: 0px;
    left: 0px;
    white-space: pre;
}

.hidden {
    visibility: hidden;
}