/* clearing default settings */
* { 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    color: #666666;
}

label {margin: 0rem;}
ul {list-style: none; margin: 0px !important;}
li {list-style-type:none; }
a {text-decoration: none;}
a:hover {cursor: pointer;}
:focus {outline: none;}
button {background: #ffffff;}


header {
    position: sticky;
    top: 0;
    z-index: 1071;
}

body {
    padding-top: 50px;
}

p {
    font-size: inherit;
    color: inherit;
    margin: 0px;
    line-height: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0px;
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    line-height: 1;
}

h1, .h1 {font-size: 3.5rem;}
h2, .h2 {font-size: 2rem;}
h3, .h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.input-label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: inherit;
    color: inherit;
}

.mb-05 {margin-bottom: 0.5rem !important;}
.mb-1 {margin-bottom: 1rem !important;}
.mb-2 {margin-bottom: 2rem !important;}
.mb-3 {margin-bottom: 3rem !important;}
.mt-05 {margin-top: 0.5rem !important;}
.mt-1 {margin-top: 1rem !important;}
.mt-2 {margin-top: 2rem !important;}
.mt-3 {margin-top: 3rem !important;}
.pt-1 {padding-top: 1rem !important;}
.pt-2 {padding-top: 2rem !important;}
.pt-3 {padding-top: 3rem !important;}
.pb-1 {padding-bottom: 1rem !important;}
.pb-2 {padding-bottom: 2rem !important;}
.pb-3 {padding-bottom: 3rem !important;}
.pr-025 {padding-right: 0.25rem !important}
.pr-05 {padding-right: 0.5rem !important}
.pr-1 {padding-right: 1rem !important}
.pl-025 {padding-left: 0.25rem !important}
.pl-05 {padding-left: 0.5rem !important}
.pl-1 {padding-left: 1rem !important}
.mr-1 {margin-right: 1rem !important}
.ml-1 {margin-left: 1rem !important}

.p-05 {padding: 0.5rem !important}
.m-05 {margin: 0.5rem !important}
.p-1 {padding: 1rem !important}
.m-1 {margin: 1rem !important}

@media screen and (max-width: 500px){
    h1, .h1 {
        font-size: 8vw;
    }
    .mb-05 {margin-bottom: 1.6vw !important;}
    .mb-1 {margin-bottom: 3.2vw !important;}
    .mb-2 {margin-bottom: 6.4vw !important;}
    .mb-3 {margin-bottom: 8.4vw !important;}
    .mt-05 {margin-top: 1.6vw !important;}
    .mt-1 {margin-top: 3.2vw !important;}
    .mt-2 {margin-top: 6.4vw !important;}
    .mt-3 {margin-top: 8.4vw !important;}
    .pt-1 {padding-top: 3.2vw !important;}
    .pt-2 {padding-top: 6.4vw !important;}
    .pt-3 {padding-top: 8.4vw !important;}
    .pb-1 {padding-bottom: 3.2vw !important;}
    .pb-2 {padding-bottom: 6.4vw !important;}
    .pb-3 {padding-bottom: 8.4vw !important;}
    .pr-025 {padding-right: 0.8vw !important}
    .pr-05 {padding-right: 1.6vw !important}
    .pr-1 {padding-right: 3.2vw !important}
    .pl-025 {padding-left: 0.8vw !important}
    .pl-05 {padding-left: 1.6vw !important}
    .pl-1 {padding-left: 3.2vw !important}
    .mr-1 {margin-right: 3.2vw !important}
    .ml-1 {margin-left: 3.2vw !important}

    .p-05 {padding: 1.6vw !important}
    .m-05 {margin: 1.6vw !important}
    .p-1 {padding: 3.2vw !important}
    .m-1 {margin: 3.2vw !important}
}

b, strong {font-weight: 700 !important; font-size: inherit; color: inherit;}

small {
    font-size: 0.8em;
    line-height: 1;
    color: inherit;
    font-weight: inherit;
}

/* input & checkbox */
textarea {
    width: 100%;
    border: 1px solid #666666;
    background: white;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #666666;
}
/*
input[type=checkbox], input[type=radio] {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #666666;
    background: white;
}*/

input,
.buttonlike-checkbox label > span {
    width: 100%;
    height: 2.5rem;
    border: 1px solid #666666;
    background: white;
    padding: 0.5rem 0.85rem;
    font-weight: 600;
    position: relative;
}


.buttonlike-checkbox label {
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

.buttonlike-checkbox label > span {
    width: 2.5rem;
    margin: 0px !important;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonlike-checkbox label > input[type="checkbox"]:checked + span,
.buttonlike-checkbox label > input[type="radio"]:checked + span {
    overflow: hidden;
}

.buttonlike-checkbox label:focus-within > span::after,
input:focus::after {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border: 4px solid #0099cc;
    opacity: 0.5;
  } 

input::placeholder, textarea::placeholder {
    font-weight: 400;
    font-style: italic;
    color: #999999;
}

input.w50px {width:50px;text-align: center;}

.buttonlike-checkbox input[type="checkbox"]:focus ~ span,
.buttonlike-checkbox input[type="radio"]:focus ~ span {
    outline:  #00ccff auto 2px;
} 

input[type="checkbox"], 
input[type="radio"] {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
input[type="checkbox"] + span, input[type="radio"] + span {position: relative;}
input[type="checkbox"] + svg, input[type="radio"] + svg {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #999999;
    display: block;
    padding: 0.1rem;
}
input[type="checkbox"] + svg > .svg, 
input[type="radio"] + svg > .svg {
    fill: #ffffff !important;
}
input[type="checkbox"]:checked + svg > .svg,
input[type="radio"]:checked + svg > .svg {
    fill: #999999 !important;
}

/* Gleamin Effect */
.buttonlike-checkbox label > input[type="checkbox"]:not(:disabled):checked + span:before,
.buttonlike-checkbox label > input[type="radio"]:not(:disabled):checked + span:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: -200%;
    left: -225%;
    opacity: 1;
 
    background-image: -webkit-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0)); 
    background-image: -moz-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.4), rgba(255,255,255,0));  
 }

 .buttonlike-checkbox label:hover > input[type="checkbox"]:not(:disabled):checked + span:before,
 .buttonlike-checkbox label:hover > input[type="radio"]:not(:disabled):checked + span:before {
   top: 200%;
   left: 200%;
   opacity: 0;
        transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out; 
     -o-transition: all 0.5s ease-out; 
-webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
 }

.buttonlike-checkbox label:hover > span {border-color: #0099cc; cursor: pointer;}

.buttonlike-checkbox label:hover > input[type="checkbox"]:not(:disabled):not(:checked) + span,
.buttonlike-checkbox label:hover > input[type="radio"]:not(:disabled):not(:checked) + span {color: #0099cc;}

/* no cursor pointer if input was disabled */
label:hover > input[type="checkbox"]:disabled + span,
label:hover > input[type="radio"]:disabled + span {cursor: auto !important;}

label > input[type="checkbox"]:checked + span,
label > input[type="radio"]:checked + span {
    background: #0099cc;
    border-color: #0099cc;
    color: #ffffff;
}

/* SVG */
svg {
    height: 30px;
    width: auto;
    /* vertical-align: inherit !important;*/
}
svg > .static-svg {
    fill: #666666;
}

/* Button */

button {
    background-color: inherit !important;
    border: 1px solid transparent;
    border-radius: 3px;
}
button:focus {border: 1px solid #0099cc; outline: none;}
button:not(:disabled):hover {cursor: pointer;}
button > :nth-child(n) {color: inherit;}

/* BUTTONS & ICONS */

button.big-blue-button {
    width: 100%;
    padding: 0.5rem;
    background-color: #0099cc !important;
    border-radius: 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.medium-static-button {
    width: 8em;
}

.big-static-button {
    width: 10em;
}

button.static-button {
    height: 3em;
    border: 1px solid #666666;
    color: #666666;
    border-radius: 999px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
    position: relative;
    margin: 0.5em;
}

button.static-button:hover {
    border: 1px solid #0099cc;
    color: #0099cc;
}

@media screen and (max-width: 500px){
    button.static-button {font-size: 3.2vw; height: 8.4vw;}
    button.medium-static-button {width: 25.6vw;}
    button.big-static-button {width: 32vw;}
}

button.default-button {
    background-color: #666666 !important;
    color: #ffffff !important;
}

button.default-button:hover {
    background-color: #0099cc !important;
    color: #ffffff !important;
}

div.round-icon, div.round-button {margin-right: 0.5rem;}
.round-button,
.round-icon {
    border: 1px solid;
    border-radius: 999px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 0.8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-round-button,
.small-round-icon {
    height: 1rem;
    min-width: 1rem;
}

.small-round-button > svg,
.small-round-icon > svg {
    padding: 0.1rem;
}

.medium-round-button,
.medium-round-icon {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1;
    height: 1.5rem;
    min-width: 1.5rem;
}

.medium-round-button > span,
.medium-round-icon > span {
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.medium-round-button > svg,
.medium-round-icon > svg {
    padding: 0.25rem;
}

.big-round-button,
.big-round-icon,
.big-link {
    height: 2rem;
    min-width: 2rem;
}

.big-round-button > svg,
.big-round-icon > svg {
    padding: 5px;
}

@media screen and (max-width: 900px){
    ul.main-nav span{display: none;}
    div.round-button {margin: 0rem;}
    ul.main-nav a:focus div {border-color: #0099cc;}
    ul.main-nav a:focus {outline: none;}
}
ul.main-nav > li {font-size: 0.8rem; padding: 0.2rem; display: flex; align-items: center;}
ul.main-nav a {display: flex; flex-wrap: nowrap; align-items: center;}
ul.main-nav span {white-space: nowrap; font-weight: 600; font-size: 0.8rem;}
ul.main-nav > li:not(:last-child) span {text-transform: uppercase;}
ul.main-nav a, .grey-outline-icon {border-color: #666666; color: #666666;}

.light-grey-outline-icon, .light-grey-outline-button {border-color: #cccccc; color: #cccccc;}
ul.main-nav .SVG,
.grey-outline-button .SVG,
.grey-outline-icon .SVG {
    fill: #666666;
}

.light-grey-outline-button .SVG,
.light-grey-outline-icon .SVG {
    fill: #cccccc;
}

.main-nav-wrapper a:hover .SVG,
.main-nav-wrapper a:focus .SVG,
.light-grey-outline-button:hover .SVG,
.light-grey-outline-button:focus .SVG,
.grey-outline-button:hover .SVG,
.grey-outline-button:focus .SVG {
    fill: #0099cc;
}

.main-nav-wrapper a:hover > :nth-child(n),
.main-nav-wrapper a:focus > :nth-child(n),
.light-grey-outline-button:hover,
.light-grey-outline-button:focus,
.grey-outline-button:hover,
.grey-outline-button:focus {
    color: #0099cc !important;
    /* fill: #0099cc; */
    border-color: #0099cc;
}

/* clearing default settings ends */

/* Font */
.dark-grey-text {color: #666666 !important;}
.light-grey-text {color: #999999 !important;}
.blue-text {color: #0099cc !important;}
.uppercase-text {text-transform: uppercase;}

/* input-fields */

ul.input-fields input[type='text']:focus{border-color: #0099cc}

ul.input-fields {
    width: 100%;
    max-width: 600px;
    font-weight: 600;
}

ul.input-fields > li{
    display: flex;
    align-items: flex-start;
}

@media screen and (min-width: 561px){
    ul.input-fields > li {
        flex-flow: row;
    }
    ul.first-child-text-120 > li > :first-child{
        flex: 0 0 120px;
        text-align: right;
    }

    ul.first-child-text-240 > li > :first-child{
        flex: 0 0 240px;
        text-align: right;
    }

    ul.input-fields > li > :last-child:not(label),
    ul.input-fields .add-margin {
        margin-left: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

@media screen and (max-width: 560px){
    ul.input-fields > li, ul.input-fields-child-ul {
        flex-flow: column;
        align-items: stretch;
    }
    .number-field {flex-flow: row !important; align-items: flex-start !important;}
}
@media screen and (min-width: 561px){
    .input-fields-child-ul {
        width: 100%;
    }
}

.number-field > :nth-child(n):not(:first-child) {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

ul.input-fields > li > div {
    width: 100%;
    flex-wrap: nowrap;
}

ul.input-fields p {
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 0.8rem;
}

ul.input-fields-child-ul p {
    margin: 0.8rem 1rem 1rem 0rem;
}

ul.input-fields > li > :first-child,
ul.input-fields > li > :only-child,
ul.input-fields > li > p:first-child {
    margin-left: 0rem !important;
    margin-bottom: 1rem !important;
}

.input-fields-child-ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-items: stretch;
}

/* ????????????????? grey-SVG-button */
button.grey-SVG-button:focus .svg {fill: #0099cc;}
button.grey-SVG-button .svg {fill: #cccccc;}
button.grey-SVG-button:hover > svg > .svg {fill: #0099cc;}
button.grey-SVG-button:hover {color: #0099cc;}
button.grey-SVG-button:hover > span {color: #0099cc !important;}
button.grey-SVG-button:focus {
    border: 1px solid transparent;
    outline: none;
    color: #0099cc;
}


/* navbar */

.main-nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #cccccc !important;
    background-color: #ffffff;
    /* shadow */
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
/* drop-down relative - absolute relationships */
.position-wrapper {
    position: relative;
}

.absolute-drop-down{
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background: #ffffff;
}

/* table-element */
.table-member { display: grid; grid-template-columns: minmax(100px, 0.5fr) 50px 110px minmax(120px, 0.7fr) 36px; }
.table-budget { display: grid; grid-template-columns: minmax(100px, 0.5fr) minmax(120px, 0.7fr) 110px 36px; }

.table-element { width: 100%; }
.table-element-content, .table-element-header {border: 1px solid #666666;}
.table-element-content { border-top: 0px solid #666666; }
.table-element-content > li { font-size: 0.9rem;}
 .table-element-header > li { font-size: 1rem;}
.table-element-content > li:not(:first-child), .table-element-header > li:not(:first-child) { border-left: 1px solid #666666; }
.table-element-member > li:not(.no-break) {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.table-element-member > li:not(.no-padding) {
    padding: 0.5rem;
}
.table-element-header > li {font-weight: 700; font-size: 0.8rem; text-transform: uppercase; }

@media screen and (max-width: 499px) {
    .table-element-content > li {font-size: 2.5vw;}
    .table-element-header > li {font-size: 2vw;}
    .table-element-member > li:not(.no-padding) {padding: 1vw;}
    .table-member {grid-template-columns: minmax(20vw, 0.5fr) 10vw 22vw minmax(20vw, 1fr) 5vw;}
    .table-budget {grid-template-columns: minmax(20vw, 0.5fr) minmax(20vw, 1fr) 22vw 5vw;}
}

/* flexbox */
.flex-nowrap {display: flex; flex-wrap: nowrap;}
.flex-wrap {display: flex; flex-wrap: wrap;}
.fit-content > :nth-child(n) {flex-basis: content; white-space: nowrap;}
.flex-flow-column {flex-flow: column}
.align-center {align-items: center;}
.align-end {align-items: flex-end;}
.align-start {align-items: flex-start;} 
.align-self-stretch {align-self: stretch !important;}
.justify-center {justify-content: center;}
.justify-stretch {justify-content: stretch;}
.justify-left {justify-content: left;}
.justify-space-between {justify-content: space-between;}
.justify-self-stretch {justify-self: stretch !important;}
.flex11auto {flex: 1 1 auto;}
.flex01auto {flex: 0 1 auto;}

.cw-100 > :nth-child(n) {width: 100%;}

/* ????? */
.fb-1150px {flex: 1 1 50px;}
.fb-00100px {flex: 0 0 100px;}
.fb-1050px {flex: 1 0 50px;}
.fb-11auto {flex: 1 1 auto;}

/* NEW BUTTON */

.square-button-width{
    font-size: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-button-width > svg {
    font-size: inherit;
    width: 100%;
    height: auto;
    padding: 0.5em;
}

.square-button-width > svg > .svg {fill: #666666;}
.square-button-width:hover > svg > .svg {fill: #0099cc;}

/* Square BUTTON !!! width depends on font-height of .square-button-height */

.square-button-height{
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-button-height > svg {
    font-size: inherit;
    height: 1em;
    width: 1em;
    padding: 0.25em;
}

.square-button-height .svg {
    font-size: inherit;
    height: 1em;
    width: 1em;
}

.square-button-height .svg {fill: #666666;}
.square-button-height:hover .svg {fill: #0099cc;}

/* CENTERED */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
  }

/* Sign In form styles */

.login-form {width: 100%; max-width: 450px;}
.login-form > :nth-child(n){margin-left: 1rem !important; margin-right: 1rem !important;}
@media screen and (max-width: 500px) {
    .login-form > :nth-child(n){margin-left: 3.2wv !important; margin-right: 3.2wv !important;}
}
.login-form > h2 > strong {text-transform: uppercase;}
.login-form > div > img {width: 60%;}
.login-form button p, .login-form span p, .login-form a {white-space: nowrap;}
.login-form a:hover {color: #0099cc;}

.line {
    height: 1px;
    justify-self: stretch;
    background-color: #666666;
    width: 100%;
}

.login-with-button-wrapper {display: flex; flex-wrap: nowrap;}

button.login-with-button {
    height: 35px;
    width: 100%;
    justify-self: stretch;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

button.login-with-button > p {
    flex: 1 1 auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.9rem;
}

button.login-with-button > img {
    height:100%;
    width: 35px;
}

button.login-with-button > img > svg {
    height:100%;
    width: auto;
}

button.login-with-button:not(:last-child) {margin-right: 1em;}
.facebook {background-color: #3f5a95 !important;}
.google {background-color: #ea4235 !important;}

@media screen and (max-width: 420px){ 
    .login-with-button-wrapper {display: flex; flex-wrap: wrap;}
    button.login-with-button:not(:last-child) {margin-right: 0vw; margin-bottom: 3.2vw;}
}

/* flip */

.flip180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.flip90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.flip270 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.nonselect {
    /* unselectable text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, supported by Chrome and Opera */
}
